@using DepartIOApp.Models
@model List<Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar </th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <th>@d.id</th>
            <th>@d.departmentName</th>
            <th><a href="/Depart/DeleteDepartment/@d.id" class="btn btn-danger">Sil</a></th>
            <th><a href="/Depart/GetDepartment/@d.id" class="btn btn-success">Güncelle</a></th>
            <th><a href="#" class="btn btn-dark">Detaylar</a></th>
        </tr>
    }
</table>

<a href="/Depart/NewDepartment/" class="btn btn-primary">Yeni Departman</a>
