@using DepartIOApp.Models;
@model Department

@{
    ViewData["Title"] = "NewDepartment";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.departmentName)
    @Html.TextBoxFor(x => x.departmentName, new {@class="form-control" })
    <br />
    <button class="btn btn-info">Departman Ekle</button>
</form>

